# osu! configuration for moonlight009
# last updated on 20 Tháng Sáu 2026

# IMPORTANT: DO NOT SHARE THIS FILE PUBLICLY.
# IT CONTAINS YOUR LOGIN CREDENTIALS IF YOU HAVE THEM SAVED.

BeatmapDirectory = Songs
VolumeUniversal = 50
VolumeEffect = 0
VolumeMusic = 65
AllowPublicInvites = 1
AutoChatHide = 1
AutomaticDownload = 1
AutomaticDownloadNoVideo = 0
BlockNonFriendPM = 0
Shaders = 0
BloomSoftening = 0
BossKeyFirstActivation = 0
ChatAudibleHighlight = 1
ChatChannels = #osu #lobby Momiji #clan_CLHS #userlog irs-sr xuanngoc0711 Mafuyu_ hoshinole Lucyl #highlight #osu#clan_CLHS Blue Cake [HMH] MayuTuna AxerBot kimuraharutomi NameSpace68 [TCD] Dual2ez BC1_CI9 Izumi Shirokane
ChatFilter = 0
ChatHighlightName = 1
ChatMessageNotification = 1
ChatLastChannel = #userlog
ChatRemoveForeign = 0
ChatSortMode = Rank
ComboBurst = 0
ComboFire = 0
ComboFireHeight = 3
ConfirmExit = 0
AutoSendNowPlaying = 1
CursorSize = 1.01
AutomaticCursorSizing = 0
DimLevel = 100
IHateHavingFun = 1
Display = 1
DisplayCityLocation = 0
DiscordRichPresence = 0
DistanceSpacingEnabled = 1
EditorTip = 9
EditorVideo = 1
EditorDim = 0
EditorGrid = 0
EditorDefaultSkin = 0
EditorSnakingSliders = 1
EditorHitAnimations = 0
EditorFollowPoints = 1
EditorStacking = 1
ForceSliderRendering = 0
FpsCounter = 1
GuideTips = 1
CursorRipple = 0
HighlightWords = 
HighResolution = 0
HitLighting = 0
IgnoreBarline = 0
IgnoreBeatmapSamples = 0
IgnoreBeatmapSkins = 0
IgnoreList = 
KeyOverlay = 1
Language = en
LastPlayMode = OsuMania
AllowNowPlayingHighlights = 0
LastVersion = b20260620cuttingedge
LastVersionPermissionsFailed = b20210520.2
LoadSubmittedThread = 1
LobbyPlayMode = 3
ShowInterface = 1
ShowInterfaceDuringRelax = 1
LobbyShowExistingOnly = 0
LobbyShowFriendsOnly = 0
LobbyShowFull = 0
LobbyShowInProgress = 1
LobbyShowPassworded = 1
LogPrivateMessages = 0
LowResolution = 0
ManiaSpeed = 28
UsePerBeatmapManiaSpeed = 0
ManiaSpeedBPMScale = 0
MenuTip = 3
MouseDisableButtons = 0
MouseDisableWheel = 0
MouseSpeed = 1.14
Offset = 0
ScoreMeterScale = 1
DistanceSpacing = 1.3
EditorBeatDivisor = 1
EditorGridSize = 32
EditorGridSizeDesign = 32
Height = 720
Width = 1280
HeightFullscreen = 1080
WidthFullscreen = 1920
CustomFrameLimit = 240
MsnIntegration = 0
MyPcSucks = 0
NotifyFriends = 1
NotifySubmittedThread = 1
PopupDuringGameplay = 1
ProgressBarType = Pie
RankType = Top
RefreshRate = 60
OverrideRefreshRate = 0
ScaleMode = WidescreenConservative
ScoreboardVisible = 1
ScoreMeter = Error
ScreenshotId = 54
MenuSnow = 0
MenuTriangles = 1
SongSelectThumbnails = 1
ScreenshotFormat = Jpg
ShowReplayComments = 0
ShowSpectators = 1
ShowStoryboard = 0
Skin = # - tekkito2 ft jb the voice tu perfume a chanel
SkinSamples = 1
SkipTablet = 0
SnakingSliders = 0
Tablet = 0
UpdatePending = 0
UserFilter = Friends
UseSkinCursor = 0
SeasonalBackgrounds = Sometimes
UseTaikoSkin = 0
Video = 0
Wiimote = 0
YahooIntegration = 0
ForceFrameFlush = 1
DetectPerformanceIssues = 1
Fullscreen = 1
MenuMusic = 1
MenuVoice = 0
MenuParallax = 0
RawInput = 1
AbsoluteToOsuWindow = 0
ConfineMouse = Fullscreen
ShowMenuTips = 0
HiddenShowFirstApproach = 1
ComboColourSliderBall = 1
AlternativeChatFont = 0
CredentialEndpoint = 
Username = moonlight009
DisplayStarsMaximum = 10
DisplayStarsMinimum = 0
AudioDevice = Speakers (Realtek Audio)
AudioCompatibility = 0
SavePassword = 1
SaveUsername = 1
Password = AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAye4qOXl2Uk+eC0gV08kr5wAAAAAIAAAAUgBhAHcAAAAQZgAAAAEAACAAAABQrfIRVPf0+3xei4pIUK9XQeDTX0VYkZnJjQFFDpF3NwAAAAAOgAAAAAIAACAAAADjU69RvhsB6YGOMi9z7nkQhdWraUOZGpnlUIv/f3dLBhAAAABmt9tkUdnTvLPODKGS93kQQAAAAFXFHcigoAxcl3eK9892Jn7gNbILMOhtqapPjxzTzA4bboGGMwu/hTzssg5GE3dTq+dBtLjaQX4lQ5QYTgyXbqA=
TreeSortMode = Mode
TreeSortMode2 = Title
Letterboxing = 1
LetterboxPositionX = 0
LetterboxPositionY = 0
FrameSync = Optimal
ShowUnicode = 0
PermanentSongInfo = 0
Ticker = 0
CompatibilityContext = 1
CanForceOptimusCompatibility = 0
MinimiseOnAltTabFullscreen = 1
keyOsuLeft = A
keyOsuRight = S
keyOsuSmoke = C
keyFruitsDash = LeftShift
keyFruitsLeft = Left
keyFruitsRight = Right
keyTaikoInnerLeft = V
keyTaikoInnerRight = OemComma
keyTaikoOuterLeft = C
keyTaikoOuterRight = OemPeriod
keyPause = Escape
keySkip = Space
keyToggleScoreboard = Tab
keyToggleChat = F8
keyToggleExtendedChat = F9
keyScreenshot = F12
keyIncreaseAudioOffset = OemPlus
keyDecreaseAudioOffset = OemMinus
keyQuickRetry = OemTilde
keyIncreaseSpeed = F4
keyDecreaseSpeed = F3
keyToggleFrameLimiter = F7
keyVolumeIncrease = Up
keyVolumeDecrease = Down
keyDisableMouseButtons = F10
keyBossKey = Insert
keySelectTool = D1
keyNormalTool = D2
keySliderTool = D3
keySpinnerTool = D4
keyNewComboToggle = Q
keyWhistleToggle = W
keyFinishToggle = E
keyClapToggle = R
keyGridSnapToggle = T
keyDistSnapToggle = Y
keyNoteLockToggle = L
keyNudgeLeft = J
keyNudgeRight = K
keyHelpToggle = H
keyJumpToBegin = Z
keyPlayFromBegin = X
keyAudioPause = C
keyJumpToEnd = V
keyGridChange = G
keyTimingSection = None
keyInheritingSection = None
keyRemoveSection = None
keyEasy = Q
keyNoFail = W
keyHalfTime = E
keyHardRock = A
keySuddenDeath = S
keyDoubleTime = D
keyHidden = F
keyFlashlight = G
keyRelax = Z
keyAutopilot = X
keySpunOut = C
keyAuto = V
keyScoreV2 = B
ManiaLayouts4K = A S OemSemicolon OemQuotes
ManiaLayoutSelected4K = 0
ManiaLayouts6K = S X C OemComma OemPeriod L
ManiaLayoutSelected6K = 0
ManiaLayouts5K = VolumeUp VolumeMute Space K None
ManiaLayoutSelected5K = 0
ManiaLayouts8K = A S D F J K L OemSemicolon LeftControl
ManiaLayoutSelected8K = 0
